.register-div {
  margin-top: 4.5rem;
  width: 100%;
min-height: 80% ;
}
.register {
  width: 100%;
  margin: 0px auto;
  padding: 1rem;
  height: 100%;
}
.team-mate,
.captain {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  column-gap: 10px;
  row-gap: 0px;
}
form{
  background-color: rgb(83, 138, 156);
  padding : 1rem;
  border-radius: 10px;
}
form > button {
  min-width: 220px;
}
.dialog {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0px auto;
  background-color: #0000002f;
}
.dialog > .info {
  z-index: 10;
  padding: 1rem;
  color: #fff;
  border-radius: 1rem;
  background-color: rgb(24, 21, 21);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
